# Secrets such as your Square Access Token should be defined in these .env files
# Read more about storing configuration in the environment: https://www.npmjs.com/package/dotenv
#
# Remember to copy .env.example to .env.sandbox
SQUARE_ACCESS_TOKEN=
